* {
  // outline: 1px solid #0ff;
  box-sizing: border-box;
}

body {
  // background: #111;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  color: #dadada;
}

#main {
  h1 {
    // color: red;
  }
}