// * {
//   outline: 1px solid #0ff;
//   box-sizing: border-box;
// }

body {
  background: #424242;
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
  display: grid;
  align-content: center;
  // color: #dadada;
}

#main {
  width: 100%;
  min-height: 50vh;
  max-width: 500px;
  margin: 1em auto;
}